dotfiles/.emacs.d/eln-cache/
dotfiles/.emacs.d/elpa/
dotfiles/.emacs.d/.history
dotfiles/.emacs.d/.bookmarks
dotfiles/.emacs.d/auto-save-list/
dotfiles/.emacs.d/history
dotfiles/.emacs.d/bookmarks
dotfiles/.emacs.d/projectile-bookmarks.eld
dotfiles/.emacs.d/.org-generic-id-locations
dotfiles/.emacs.d/eshell/
dotfiles/.emacs.d/persist/
dotfiles/.emacs.d/projects
dotfiles/.emacs.d/url/
dotfiles/.emacs.d/org-generic-id-locations
dotfiles/.emacs.d/eshell
dotfiles/.emacs.d/recentf
dotfiles/.emacs.d/.org-id-locations
dotfiles/.emacs.d/org-roam.db
*.elc
*~

*.bat
